@import "../../styles/variables.scss";

div.app {
  position: relative;
  height: 10%;
  background: primary-neutral-colors(90);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1000;
  .colors {
    display: flex;

    justify-content: center;
    align-items: center;

    .color {
      width: 40px;
      height: 40px;

      border-radius: 50%;
      margin: 20px 5px;
      box-shadow: rgba(19, 19, 19, 0.952) 0px 0px 2px;
      border: 3px solid white;
    }
  }
  .next-color {
    .arrow {
      width: 15px;
      height: 15px;
      display: inline-block;
      border: solid primary-neutral-colors(60);
      border-width: 0 4px 4px 0;
      padding: 3px;
      cursor: pointer;
      &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
      &:hover {
        border-color: primary-colors(60);
      }
    }
  }
}
